.row {
    display: flex;

}

.card {
    height: 100%;
}

.card-image {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-link {
    text-decoration: none;
    color: black;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.search {
    margin-top: 15px;
}

.filter {
    margin-left: 18%;
}

.filter_item {
    margin: 10px;
}

.pagination {
    position: relative;
    margin-top: 15px;
    bottom: 0;
    margin-bottom: 15px;
    padding-left: 50%;
}

.pagination > li > a {
    background-color: white;
    color: green;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: green;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a {
    color: white;
    background-color: green;
    border: solid 1px green;
}

.pagination > .active > a:hover {
    background-color: green;
    border: solid 1px green;
}